.header {
   height: 150px;
   width: 100%;
   background-color: #28b398;
   display: flex;
   justify-content: center;
   align-items: center;
}

.header div {
   max-width: 1200px;
   margin: auto;
}

.header .amd-link {
   background-color: transparent;
   right: 100px;
   position: absolute;
   text-align: center;
   margin-top: -70px;
}

.header .amd-link a {
   color: white;
   display: block;
   border: 3px solid white;
   border-radius: 40px;
   padding: 10px;
   width: 100px;
   text-decoration: none;
   font-weight: bold;
}

.header .logo {
   width: 280px;
   align-self: center;
}

@media screen and (max-width: 900px) {
   .header {
      height: 230px;
   }
   .header .amd-link {
      position: relative;
      right: 0px;
      margin-top: 20px;
   }
}
